.div_content_container{
    width:fit-content;
    max-width: 900px;
    background-color: transparent;
    box-shadow: none;
    margin-top: 0px;
}
.ticket-purchase-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    max-width: 1200px;
    margin: 40px auto;
    color: black;
    
}

.tickets-display, .summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(243, 245, 246, 0.856);
    backdrop-filter: blur(5px);
}

h2, h3 {
    font-size: 35px;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.tickets-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    max-height: 425px; 
    overflow-y: auto; 
    overflow-x: hidden;
    
}

.ticket {
    background-color:white;
    border: 1px solid #e2c8b5;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.summary{
    justify-content: center;
    
}
.summary-section{
    margin-top:50px;
    border: 2px solid #e2c8b5;
    padding:15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color:white;
    border-color: #ddd;
    width:200px;
    height:50px;
    justify-content: center;
    font-size: 20px;
}

.ticket-actions{
    display: flex;
    
    align-items: center;
    justify-content: center;

}

.ticket-actions button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color:#740938;
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
}
[id^="ticket-count-"] {
    font-size: 22px;
}

.ticket-actions button:hover {
    background-color: #f00645;
}
.action-buttons{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 50px;
}
.action-buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: #740938;
    color: white;
    transition: background-color 0.3s ease;
}

.action-buttons button:hover:not(:disabled) {
    background-color: #f00645;
}

.action-buttons button:disabled {
    background-color: #d7ccc8;
    cursor: not-allowed;
}
@media(max-width:600px){
    .ticket-purchase-container {
        flex-direction: column-reverse;
        
    }
}