.div_content_container {
  padding: 20px;
  flex-direction: column;
  max-width: 900px;
  align-items: center;
  width:86vw;
  margin-top: 0px;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  width:86vw;
  max-width: 900px;

  
}
.filter-container-left{
  display:flex;
  align-items: center; 
}
.filter-container-left label{
  margin-right:7px;
}

.filter-container-right{
  display: flex;
  align-items: center; 
  
}
.filter-container {
  color:#740938;
}
.vehicle-type {
  display: flex;
  gap: 10px;
  right:0;
}
.no-results{
  color:#740938;
  font-size: 20px;
}
.stops-container {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left:20px;
}

.stops-container button {
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #740938;
  cursor: pointer;
  color:white;
  transition: background-color 0.3s;
}

.stops-container button:hover {
  background-color: #b41158;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; /* Change this from 'none' to 'flex' */
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 1000;
}  

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 800px;
  position:relative;
}

.hidden {
  display: none;
}

.close-modal {
  background: none;
  border: none;
  font-size: 20px;
  color: red;
  cursor: pointer;
  position: absolute;
  right:25px;
}

/* Vehicle Type Icon */
#vehicle-icon {
  width: 50px;
  height: 50px;
  margin-top:10px;
}

/* Direction buttons */
.direction-btn {
  margin-right: 10px;
  margin-top:15px;
  padding: 10px;
  background-color: #b40f56;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.direction-btn:hover {
  background-color: #bd4f8b;
}

#route-container, #timetable-container, #stations-container {
  margin-top: 20px;
} 


/* Tabela z godzinami i minutami */
.timetable-table th,
.timetable-table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}

.timetable-table {
  width: 100%;
  border-collapse: collapse;
}

/* Nagłówek z nazwą przystanku */
h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

#stations-list{
  display: flex;
  gap:20px;
  margin-top: 10px;
  flex-wrap: wrap;
}
#stations-list button {
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #740938;
  cursor: pointer;
  color:white;
  transition: background-color 0.3s;
}
#stations-list button:hover {
  background-color: #b41158;
}
.vehicle-type input {
display: none;
}

.vehicle-type {
--container_width: 200px;
position: relative;
display: flex;
align-items: center;
border-radius: 9999px;
background-color: #fff;
color: #000000;
width: var(--container_width);
overflow: hidden;
border: 1px solid rgba(53, 52, 52, 0.226);
height:35px;

}

.vehicle-type label {
width: 100%;
padding: 10px;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
z-index: 1;
font-weight: 600;
font-size: 14px;
}

.selection {
display: none;
position: absolute;
height: 100%;
width: calc(var(--container_width) / 2);
z-index: 0;
left: 0;
top: 0;
transition: .15s ease;
}

.vehicle-type label:has(input:checked) {
color: #fff;
}

.vehicle-type label:has(input:checked) ~ .selection {
background-color: #740938;
display: inline-block;
}

.vehicle-type label:nth-child(1):has(input:checked) ~ .selection {
transform: translateX(calc(var(--container_width) * 0/2));
}

.vehicle-type label:nth-child(2):has(input:checked) ~ .selection {
transform: translateX(calc(var(--container_width) * 1/2));
}

input {
border: 2px solid transparent;
width:120px;
height: 2.5em;
padding-left: 0.8em;
outline: none;
overflow: hidden;
background-color: #F3F3F3;
border-radius: 10px;
transition: all 0.5s;
}

input:hover,
input:focus {
border: 2px solid #af114e;
box-shadow: 0px 0px 0px 7px rgba(236, 74, 141, 0.2);
background-color: white;
}
.filter-container button{
background-color: #740938;
color: white;
border: none;
border-radius: 15px;
cursor: pointer;
height:45px;
width:80px;
margin-left:15px;
text-align: center;
}
#reset-filters{
  padding-top: 5px;
  padding-bottom: 5px;
}
.filter-container button:hover{
background-color: #b41158;
}
@media (max-width: 617px) {
.filter-container {
  flex-direction: column-reverse;
  align-items: flex-start;
  margin-bottom: 40px;
}
}
.timetable-table th,
.timetable-table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  white-space: pre-line; /* Umożliwia łamanie linii */
}

.timetable-table {
  width: 100%;
  border-collapse: collapse;
}