.div_content_container{
    width:fit-content;
    max-width: 900px;
    background-color: transparent;
    box-shadow: none;
    margin-top: 0px;
}
.ticket-purchase-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    
    
    border-radius: 12px;
    max-width: 1200px;
    margin: 40px auto;
    color: black;
}

h2, h3 {
    color: black;
    text-align: center;
    margin-bottom: 10px;
}
#travel-time-filter{
    text-align: center;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  
  background-color: #AF1740;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#travel-time-filter option{
    /*trzeba wyrownac */
}
#travel-time-filter option:hover{
    background-color: #8b1835; /* to nie bd dzialac */
}

.tickets-display, .filters {
    align-items: center;
    display: flex;
    flex-direction: column;
    
    border-radius: 12px;
    padding: 15px;
    background: #fffaf5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tickets-display{
    background-color: rgba(243, 245, 246, 0.856);
    
    backdrop-filter: blur(5px);
}
.filters{
    background: #740938;
    color:white;
}
.filters h3{
    color:white;
    font-size: 25px;

}
.filters .filter-section {
    margin-bottom: 40px;
    display: flex;
    position: relative;
    font-size: 25px;
    width: 100%;
    align-items: center;
}

.filters .filter-section label:first-child {
    flex: 50%;
    text-align: left;
}

.filters .filter-section label:last-child {
    flex: 50%;
    text-align: left;
}



.tickets-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    max-height: 430px; 
    overflow-y: auto; 
    overflow-x: hidden; 
}

.ticket {
    
    border-radius: 12px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color:white;
    border: 1px solid #e2c8b5;
}
[id^="ticket-count-"] {
    font-size: 22px;

}
.ticket-actions button {
    line-height: 30px; 
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color:#740938;
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
}

.ticket-actions button:hover {
    background-color: #f00645;
}

.action-buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: #ce0c40;
    color: white;
    transition: background-color 0.3s ease;
}

.action-buttons button:hover:not(:disabled) {
    background-color: #ff0044;
}

.action-buttons button:disabled {
    background-color: #d7ccc8;
    cursor: not-allowed;
}
@media(max-width:800px){
    .ticket-purchase-container {
        flex-direction: column-reverse;
        
    }
}